.example-header-image {
  background-image: url('../../../../wwwroot/DemoPic.png');
  background-size: cover;
  width: 45px;
  height: 45px;
}

.avatar-preview {
 
  height: 300px;
  position: relative;
  
  
}
