<mat-card>
  <div class="row">
    <div class="col-md-9">
      <mat-card-header>

        <mat-card-title>


          <h4>{{ 'HOME.TripsLabel' | translate }}</h4>

        </mat-card-title>
      </mat-card-header>
    </div>

  </div>
  <br />
  <mat-progress-bar mode="indeterminate" *ngIf="isLoadingData"></mat-progress-bar>
  <br />
  <div class="row">
    <div class="col-md-5">
      <button mat-raised-button color="primary" (click)="openDialog()">
        {{ 'HOME.filterButton' | translate }} <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="resetSearch()" style="margin-left:10px">
        {{ 'HOME.ResetSearch' | translate }} <mat-icon>delete_forever</mat-icon>
      </button>

    </div>
    <div class="col-md-7" *ngIf="filter">
      {{ 'HOME.SearchFields' | translate }} :
      <ul *ngIf="filter">
        <li *ngIf="filter.FromDest">{{ 'HOME.fromDest' | translate }} :{{filter.FromDest}}</li>
        <li *ngIf="filter.ToDest">{{ 'HOME.toDest' | translate }} :{{filter.ToDest}}</li>
        <li *ngIf="filter.StartTime">{{ 'NewTrip.StartDate' | translate }} :{{filter.StartTime | date}}</li>
      </ul>
    </div>
  </div>





  <br />
  <br />
  <div class="row">
    <br />
    <div class="col-md-6" *ngFor="let trip of allTrips?.trips" style="margin-top:10px">

      <mat-card class="example-card">
        <mat-card-header>
          <img *ngIf="trip?.driver.profileImageName !==null" mat-card-avatar class="avatar-preview" [src]="trip?.driver.profileImageName" />
          <div *ngIf="trip?.driver.profileImageName ===null" mat-card-avatar class="example-header-image"></div>
          <mat-card-title><a [routerLink]="['/profile',trip?.driver.id ]">{{trip?.driver.username}}</a></mat-card-title>
          <mat-card-subtitle>{{ 'HOME.fromDest' | translate }}  {{trip?.fromDestination}}  {{ 'HOME.toDest' | translate }}  {{trip?.toDestination}}</mat-card-subtitle>
          <mat-card-subtitle>{{ 'HOME.StartTime' | translate }} : {{trip?.startDate | date}} | {{trip?.startTime}}  |  {{ 'HOME.price' | translate }} :   {{trip?.price}} </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
          <p>
            {{trip?.details}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="navigateToDetails(trip.id)"> {{ 'HOME.details' | translate }}</button>

          <button *ngIf="trip?.driver.id != AuthenticationService.getLoggedInUserId()" mat-button (click)="openRideDialog(trip.id)">{{ 'HOME.rideButton' | translate }}</button>

        </mat-card-actions>
      </mat-card>
    </div>

  </div>
  <mat-paginator [length]="allTrips?.totalTrips"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="onPageChanged($event)">
  </mat-paginator>

  <simple-notifications></simple-notifications>
</mat-card>
<div class="row">
  <div class="col-md-3">
    <img *ngIf="AdsArrSize > 0" style="width:100%;" src="{{imageUrls[adsArrIndex[0]].url}}" alt="Alternate Text" />
  </div>
  <div class="col-md-3">
    <img *ngIf="AdsArrSize > 0" style="width:100%;" src="{{imageUrls[adsArrIndex[1]].url}}" alt="Alternate Text" />
  </div>
  <div class="col-md-3">
    <img *ngIf="AdsArrSize > 0" style="width:100%;" src="{{imageUrls[adsArrIndex[2]].url}}" alt="Alternate Text" />
  </div>
  <div class="col-md-3">
    <img *ngIf="AdsArrSize > 0" style="width:100%;" src="{{imageUrls[adsArrIndex[3]].url}}" alt="Alternate Text" />
  </div>
</div>
