<div class="container p-5">
  <div class="row align-items-center">
    <div class="col">

    </div>
    <div class="col-md-8">
      <mat-card>
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="ResetForm">
         
          <form [formGroup]="ResetForm">

            <div class="row p-4">

              <mat-form-field class="w-100">
                <input matInput placeholder="{{ 'HOME.EnterUsername' | translate }}" formControlName="username" type="text" required>
              </mat-form-field>
              <mat-radio-group aria-labelledby="example-radio-group-label" >                            
                 <div class="row">            
                   <mat-radio-button (click)="setValue(1)" [value]="1" color="primary">
                     {{ 'HOME.ResetUsingEmailAddress' | translate }}
                   </mat-radio-button>
                   </div>
                <div class="row">
                  <mat-radio-button (click)="setValue(2)" [value]="2" color="primary">
                    {{ 'HOME.ResetUsingPhone' | translate }}
                  </mat-radio-button>
                  </div>
              </mat-radio-group>
              
            </div>
            <div class="row">
              <mat-error *ngIf="usernameWrong==false">
                {{ 'HOME.UsernameWrong' | translate }}
              </mat-error>
              <mat-hint *ngIf="keySent==true">
                {{ 'HOME.ResetKeySent' | translate }}
              </mat-hint>
              </div>
              <hr />

              <div class="row">               
                <button mat-raised-button color="primary" (click)="ResetPass()"> {{ 'HOME.SendKey' | translate }}</button>                
                <button mat-raised-button matStepperNext [disabled]="disableNextButton==true" color="primary"> {{ 'HOME.nextButton' | translate }}</button>               
              </div>

          </form>
            
        </mat-step>
        <mat-step [stepControl]="ResetKeyForm">
          <form [formGroup]="ResetKeyForm">
            <ng-template matStepLabel>{{ 'HOME.FillOutYourKey' | translate }}</ng-template>
            <mat-form-field>
              <input matInput placeholder="{{ 'HOME.EnterResetKey' | translate }}" formControlName="ResetKey" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperPrevious>{{ 'HOME.backButton' | translate }}</button>
              <button mat-raised-button color="primary" [disabled]="resetKey!=ResetKey.value" matStepperNext>{{ 'HOME.nextButton' | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="ResetPassForm">
            <ng-template matStepLabel>{{ 'HOME.EnterNewPassword' | translate }}</ng-template>
            <mat-form-field>
              <input matInput placeholder="{{ 'HOME.password' | translate }}" formControlName="Password" [type]="hide? 'Password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide? 'visibility_off' : 'visibility'}}</mat-icon>

              <mat-error *ngIf="Password.touched && Password.invalid">
                {{ 'HOME.passwordisrequired' | translate }}
              </mat-error>             
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ 'HOME.repassword' | translate }}" formControlName="rePass" [type]="hide ? 'Password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              <mat-error *ngIf="rePass?.errors?.MatchPassword">
                {{ 'HOME.PasswordNotMatch' | translate }}
              </mat-error>
             
            </mat-form-field>
            <div>

              <button mat-button matStepperPrevious>{{ 'HOME.backButton' | translate }}</button>
              <button mat-raised-button color="primary" (click)="UpdatePassword()">{{ 'HOME.submit' | translate }}</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
     </mat-card>
    </div>
    <div class="col">

    </div>
  </div>


</div>

